<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EXUpdatesCheckOnLaunch</key>
    <string>NEVER</string>
    <key>EXUpdatesEnabled</key>
    <true/>
    <key>EXUpdatesLaunchWaitMs</key>
    <integer>4000</integer>
    <key>EXUpdatesRuntimeVersion</key>
    <string>2.0.0</string>
    <key>EXUpdatesURL</key>
    <string>https://u.expo.dev/f45b966a-2ad8-472a-9ba9-d266061b7883</string>
  </dict>
</plist>